h1 {
    color: white;
    background-image: url("guitar.jpg");
    font-family: luminari;
    font-style: italic;
    font-size: 90px;
    font-weight: 600px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0px;
    border: groove;

}


#navilist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menuitem {
    text-transform: uppercase;
    font-family: luminari;
    font-style: italic;
    font-size: 25px;
    color: white;
    display: block;
    width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#menylist {
    float: left;
    background-color: silver;
    padding: 30px;
    height: 600px;
    border: groove;

}

.center {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
