
  h2 {
      color: black;
      text-transform: uppercase;
      font-family: georgia;
      font-size: 25px;
      letter-spacing: 1px;
    }


  h3 {
    border: 1px solid #333;
    padding: 15px;
    width: 800px;
    font-family: georgia;
    font-size: 15px;
    border-radius: 4px;
  }

  .inputBar {
    border: 1px solid #333;
    padding: 15px;
    width: 733px;
    border-radius: 4px;
  }

  .newitem {
    border: 1px solid #333;
    padding: 15px;
    width: 733px;
    border-radius: 4px;
    width: 100%;
    margin: 5px;
  }

.add {
  padding: 15px;
  border-radius: 4px;
  background-color: grey;
  text-transform: uppercase;
}

  #mylist {
    float: left;
    padding-left:60px;

  }

  .btn {
    float: right;
    border-radius: 4px;
  }

  .btn:hover {
      background-color: #FF6347;
  }

  body {
      background-color: #f5f5f5;
        }
