
  .loginForm {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    min-height: 100px;
    float: left;
    padding-left: 20px;
  }

  h2 {
    color: black;
    font-family: luminari;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
  }
