
  h2 {
      color: black;
      text-transform: uppercase;
      font-family: luminari;
      font-style: italic;
      font-size: 30px;
      letter-spacing: 1px;
    }


  h3 {
    border: 1px solid #333;
    padding: 15px;
    width: 800px;
    font-family: luminari;
    font-size: 15px;
  }

  .newitem {
    border: 1px solid #333;
    padding: 15px;
    width: 740px;
  }

.add {
  padding: 15px;
}

  #mylist {
    float: left;
    padding-left:20px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .btn {
    float: right;
  }

  body {
      background-color: #f5f5f5;
        }
