
  h2 {
      color: black;
      text-transform: uppercase;
      font-family: georgia;
      font-size: 25px;
      letter-spacing: 1px;
    }


  h3 {
    border: 1px solid #333;
    padding: 15px;
    width: 800px;
    font-family: georgia;
    font-size: 15px;
    border-radius: 5px;
  }

  .newitem {
    border: 1px solid #333;
    padding: 15px;
    width: 740px;
    border-radius: 5px;
  }

.add {
  padding: 15px;
  border-radius: 5px;
}

  #mylist {
    float: left;
    padding-left:60px;
  }

  .btn {
    float: right;
  }

  body {
      background-color: #f5f5f5;
        }
